@CHARSET "UTF-8";

body {
	font-family: arial, sans-serif;
	color: black;
	font-size: 13px;
	font-weight: normal;
	background-color: #FFFFFF;
}

#bheader {
	background: #FFFFFF none repeat scroll 0 0;
}

#bheader_left {
	padding: 3px 8px 0;
}

#bheader_bar {
	float: left;
	height: 22px;
	font-size: 13px;
	padding-top: 1px;
}

#bheader_logo {
	float: left;
	height: 22px;
	font-size: 13px;
	margin-left: 200px;
}

#bheader_bar a:visited,#bheader_user a:visited {
	color: #0000CC;
}

#bheader_user {
	padding-bottom: 7px;
	text-align: right;
	font-size: 13px;
	padding-top: 1px;
}

.gb1 {
	margin-right: 0.5em;
}

.gb2 {
	text-decoration: underline;
	margin-right: 1em;
	font-size: 14px;
	color: #0000CC;
}

.gb2ask {
	text-decoration: none;
	margin-right: 1em;
	font-size: 14px;
	color: #0000CC;
	font-weight: normal;
}

.gb2chosen {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	margin-right: 1em;
}

.gbsearch1 {
	text-decoration: none;
	margin-right: 0.5em;
	margin-top: 0.5em;
	font-size: 14px;
	color: #0000CC;
}

#formulatoolbar
{
	margin-left: 20px;
	margin-bottom: 5px;
}

#formulatoolbar a:link {
	color: black;
}

.flatButton
{
	clip: rect(   );
	letter-spacing: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	cursor: hand;
	border-bottom: 1px #3778CB solid;
	border-right: 1px #3778CB solid;
	border-left: 1px #3778CB solid;
	border-top: 1px #3778CB solid;
	color: #000000;
	margin: 0px;
	height: 20px;
	opacity: 0.5736799;
	border-color: #000000;
	background-color: #999999;
}

.flatButtonDisable
{
	clip: rect(   );
	letter-spacing: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	cursor: hand;
	border-bottom: 1px #3778CB solid;
	border-right: 1px #3778CB solid;
	border-left: 1px #3778CB solid;
	border-top: 1px #3778CB solid;
	color: #C0C0C0;
	margin: 0px;
	height: 20px;
	opacity: 0.5736799;
	border-color: #000000;
	background-color: #999999;
}

A.blink
{
	text-decoration: none;
}

A.blinkmenu
{
	text-decoration: none;
	margin-right: 0.5em;
}
.formulaButtons
{
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #CCCCCC;
	background-color: #DDDDDD;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#inputchooser a:link {
	text-decoration: underline;
}

.remind {
	background-color: #FFFAF5;
	border: 1px solid #FFDCB3;
	color: #747474;
	padding: 5px 5px;
}

.gbh {
	height: 0;
	position: absolute;
	width: 100%;
	border-top: 1px solid #C9D7F1;
	font-size: 1px;
}

.gb4 {
	text-decoration: underline;
}

.ds {
	border-bottom: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	display: inline-block;
	margin: 0px 0px 4px 4px;
}

#IAgreeBtn-rnd {
	background: transparent
		url(https://s.yimg.com/lq//i/reg/reg_gradients.png) repeat scroll 0 0;
	border: 1px solid #F2A322;
	font-weight: bold;
	height: 2.4em;
	width: 5em;
}

#query {
	background-color: #FFFFFF;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color-value: #CCCCCC;
	border-left-style-value: solid;
	border-right-color-value: #999999;
	border-right-style-value: solid;
	border-right-width-value: 1px;
	border-top-color: #CCCCCC;
	border-top-style: solid;
	border-top-width: 1px;
	color: #000000;
	font-family: arial, sans-serif bold;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	height: 25px;
	line-height: normal;
	margin-left: 20px;;
	padding-top: 5px;
	width: 560px;
}

#querylower {
	background-color: #FFFFFF;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color-value: #CCCCCC;
	border-left-style-value: solid;
	border-right-color-value: #999999;
	border-right-style-value: solid;
	border-right-width-value: 1px;
	border-top-color: #CCCCCC;
	border-top-style: solid;
	border-top-width: 1px;
	color: #000000;
	font-family: arial, sans-serif bold;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	height: 25px;
	line-height: normal;
	margin-left: 20px;;
	padding-top: 5px;
	width: 560px;
}

.classificaioninput {
	width: 280px;
	margin-top: 5px;
	font-size: 14px;
}

.wtmtiuCSS {
	padding: 0 10px;
}

#left_nav_profile {
	font-size: 14px;
}

#left_nav_profile li {
	font-size: 14px;
	list-style: none;
	margin: 0x;
	padding: 0;
	padding: 5px 5px;
}

#left_nav_profile li:hover {
	background-color: #E5F3FF;
}

#left_nav_profile a:visited {
	color: #0033CC;
}

div.rndBtn input {
	background-color: transparent;
	border: 0 none;
	color: #000000;
	cursor: pointer;
	display: block;
	font-size: 116%;
	font-weight: bold;
	height: 100%;
	width: 100%;
	z-index: 1000;
}

#leftnav h2 {
	color: #767676;
	font-size: small;
	font-weight: normal;
	margin: 8px 0 0;
	padding-left: 8px;
	width: 143px;
}

#tbd {
	display: block;
	margin-top: 5px;
	min-height: 1px;
	padding: 0;
}

#tbd li a:visited,#tbd li a:link {
	color: #133DB6;
	text-decoration: none;
}

#tbd li a:hover {
	text-decoration: underline;
}

.lititle {
	display: block;
	min-height: 1px;
	margin: 0px;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
}

.lisubtitle {
	display: block;
	min-height: 1px;
	margin: 10px 0px 10px 0px;
	padding: 0;
	font-size: 14px;
	font-weight: normal text-decoration :       none;
}

.qa_lisubtitle {
	display: block;
	min-height: 1px;
	margin: 10px 0px 10px 0px;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
	color: #3366CC;
}

.qa_lisubsubtitle {
	display: inline;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #008400;
}

.lisubtitlechosen {
	color: #CC0033;
	font-weight: bold;
	padding: 1px 120px 1px 0px;
	text-decoration: none;
}

.vieworviewans {
	font-size: 12px;
	padding: 0px;
	background-color: #0044CC;
	color: #FFFFFF;
}

em {
	color: #CC0033;
	font-style: normal;
	font-weight: normal;
}

#left_nav {
	padding-left: 4px;
	position: absolute;
	width: 180px;
}

.wpaabCSS {
	margin: 5px 6px 0 5px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
}

.wpaabCSS a:visited,.wpaabCSS a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.wpaabCSSlink {
	margin: 5px 6px 0 0px;
	font-weight: bold;
	font-size: 15px;
}

#left_nav_qna {
	width: 100%;
	padding-left: 2px;
}

#left_nav_qna a:link, #left_nav_qna a:visited, #left_nav_qna a:hover
{
	text-decoration: none;
	color: #000000;
	font-size: 12px;
}

.wmcCSS {
	background-color: #E5F3FF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 1px;
	margin-bottom: 10px;
	border-top: 1px solid #6B90DA;
}

.wmcCSScenter {
	background-color: #E5F3FF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 1px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #6B90DA;
}

.wmcCSSCenter_mono {
	background-color: #E5F3FF;
	font-size: 14px;
	padding: 3px 0px;
	vertical-align: middle;
	margin-left: 10px;
	height: 30px;
	border-top: 1px solid #6B90DA;
}

.wmcCSSCenter_mono2 {
	font-size: 14px;
	font-color: #3366CC;
	font-weight: bold;
	padding: 3px 0px;
	vertical-align: middle;
	padding: 20px 0px;
}

#center_col {
	min-width: 562px;
	clear: both;
	margin-left: 190px;
	margin-right: 160px;
	padding: 0 8px;
}

#center_col ul {
	padding: 0px;
	margin-bottom: 10px;
	list-style: none;
	margin-left: 10px;
}

#center_col ul li {
	padding: 0px;
	margin-bottom: 0px;
	list-style: none;
}

.qcontents {
	font-size: 13px;
	line-height: 100%;
}

.qrelatedinfo {
	margin: 10px 0 5px 0;
	color: #0044CC;
	font-size: 15px;
	font-weight: normal;
}

.qrelatedinfolink {
	color: #0044CC;
	font-size: 15px;
	font-weight: bold;
}

.viewbutton {
	background-color: #FFFFFF;
	font-size: 13px;
	color: #008400;
	cursor: pointer;
}

#hotqs a:link,#hotqs a:visited {
	color: #0000CC;
}

#cnt {
	height: auto;
	width: 980px;
	clear: both;
	margin: 0 auto;
}

.quserinfo {
	margin-top: 5px;
	color: #4A6F19;
	font-size: 13px;
	border-bottom: 2px solid #CCCCCC;
}

#paging a:link,#paging a:visited {
	color: #0000CC;
	text-decoration: none;
}

#paging a:hover {
	background-color: #0000CC;
	color: #FFFFFF;
}

.pagingitempre
{
	border: 1px solid #DBDBDB;
	color: #4A6F19;
	font-size: 14px;
	margin-right: 5px;
	padding: 2px 5px;
}

.pagingitemnow
{
	border: 1px solid #DBDBDB;
	color: #0000CC;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 5px;
	background-color: #C9D7F1;
}

.pagingitem {
	border: 1px solid #DBDBDB;
	color: #4A6F19;
	font-size: 14px;
	padding: 2px 5px;	
}

#functionPanel {
	border-bottom: 1px solid #C9D7F1;
	height: 20px;
	width: 100%;
}

#functionPanel a:visited,#functionPanel a:link {
	color: #0000CC;
	text-decoration: none;
}

#functionPanel a:hover {
	text-decoration: underline;
}

.functionItemChosen {
	background-color: #C9D7F1;
	color: #0000CC;
	padding: 1px 1px 1px 1px;
	text-decoration: none;
}

.wtmrootCSS {
	margin-bottom: -4px;
	position: relative;
	z-index: 5;
}

.wmtcCSS {
	background-color: #E5F3FF;
	border-bottom: 1px solid #6CB1F1;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
	vertical-align: middle;
	white-space: nowrap;
}

.wtmtouCSS {
	padding-top: 5px;
	text-align: center;
	width: auto;
}

.wsmloptCSS {
	font-size: 12px;
	font-weight: normal;
}

.wsmoplCSS {
	padding-right: 5px;
	padding-top: 2px;
	text-align: right;
}

.wtmtccCSS {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.7;
	text-decoration: none;
}

.wtmtccCSSNav {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.7;
	text-decoration: none;
	color: black;
}

.wtmticCSS {
	background-color: #FFFFFF;
	border-left: 1px solid #6CB1F1;
	border-right: 1px solid #6CB1F1;
	border-top: 1px solid #6CB1F1;
	padding: 0 7px;
	text-align: center;
}

.wtmticCSSNav {
	padding: 0 7px;
	text-align: center;
	color: white;
}

.wtmticCSSNavNone {
	padding: 0 7px;
	text-align: center;
	color: black;
}

.wtmticCSSNavNone a:visited,.wtmticCSSNavNone a:link {
	color: black;
}

.wvtpCSSSearch li {
	list-style: none;
}

.wpr2thrCSS {
	white-space: nowrap;
}

.wpr2icoCSS {
	padding-left: 4px;
	padding-right: 2px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 19px;
}

.wpr2thcCSS {
	padding-bottom: 7px;
	padding-top: 3px;
	white-space: nowrap;
}

.wpr2thtCSS {
	color: #666666;
	font-family: simsun;
	font-size: 12px;
	font-weight: normal;
	top: 2px;
}

.wpitCSS {
	display: inline;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
	margin-bottom: 10px;
}

.wpiqCSS {
	font-weight: normal;
	margin-bottom: 5px;
	color: #3366CC;
}

.wpr2ctgaCSS {
	overflow: hidden;
	padding-left: 1px;
	width: 100%;
}

.wpr2cnCSS {
	padding-left: 4px;
	padding-right: 8px;
	text-align: center;
	white-space: nowrap;
	width: 1.5em;
	font-size: 12px;
}

.wpr2ctsCSS {
	padding-left: 2px;
	text-align: center;
	white-space: nowrap;
	width: 9.5ex;
	font-size: 12px;
}

.wpr2ctsCSS {
	color: #666666;
}

.wrpmtCSS {
	color: #3366CC;
	font-size: 12px;
}

.wirtaiCSS {
	font-family: arial, san serif;
	font-size: 14px;
	line-height: 130%;
	overflow: auto;
	padding: 4px 2px;
	width: 99%;
}

.wrpmlCSS {
	font-size: 12px;
	padding: 4px 10px 8px 0;
	text-align: right;
}

.cnqa_ask1 {
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	-moz-border-radius: 5px 5px 5px 5px;
	height: 50px;
	background-color: #FFFFFF;
}

.cnqa_ask2 {
	margin: 20px 0 20px 10px;
	font-size: 14px;
}

.relatedsearch {
	border-left: 1px dashed #C9D7F1;
	height: 600px;
	font-size: 14px;
	margin: 0 0 0 20px;
}

.cnqa_ask3 {
	margin: 40px 10px;
	font-weight: bold;
	font-size: 14px;
}

.cnqa_ask4 {
	margin-left: 135px;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
}

.cnqa_ask5 {
	color: #000000;
	font-weight: normal;
}

.cnqa_ask6 {
	text-decoration: none;
	margin-right: 5px;
	font-size: 15px;
	color: #0000CC;
	font-weight: normal;
}

.cnqa_ask7 {
	font-weight: normal;
	font-size: 13px;
	color: #008400;
}

.cnqa_ask8 {
	width: 100%;
	font-size: 13px;
	margin: 5px;
}

.cnqa_ask9 {
	margin-left: 135px;
	font-size: 13px;
	cursor: pointer;
	color: #008400;
}

.cnqa_ask91 {
	font-size: 13px;
	cursor: pointer;
	color: #008400;
}

.cnqa_ask10 {
	width: 100%;
	height: 30px;
	font-size: 14px;
}

.cnqa_ask12 {
	font-size: 15px;
	cursor: pointer;
	color: #CC0033;
	font-weight: bold;
}

.questionContent {
	height: 80px;
	font-size: 14px;
	margin: 0px;
	width: 100%;
}

.cnqa_ask11 {
	margin: 10px 150px;
	font-weight: bold;
	font-size: 14px;
	display: none;
}

.wlvbtCSS {
	color: #000000;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	width: 99%;
	font-size: 14px;
	background-color: #E5F3FF;
}

.wlsbxCSS {
	float: left;
	white-space: nowrap;
	width: 65px;
}

.wlsrcCSS {
	color: gray;
	padding: 0 20px 0 10px;
	position: static;
	vertical-align: top;
}

.wlslbxCSS {
	height: 17px;
	margin-bottom: 10px;
	margin-right: 25px;
}

.categorysubtopics {
	float: left;
	margin: 0pt 4px 2px;
}

#subtopics a:link {
	text-decoration: none;
}

#subtopics a:visited {
	text-decoration: none;
}

#subtopics a:hover {
	text-decoration: underline;
}

#subtopics {
	color: black;
	font-size: 13px;
}

#categorydetail a:visited {
	color: #008800;
}

#categorydetail a:link {
	color: #008800;
}

/*
a:link,a:visited {
	text-decoration: none;
	color: #0000CC;
}

a:hover {
	text-decoration: underline;
}
*/

.wpfitCSS {
	display: inline;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}

.wpfilCSS {
	color: #008400;
	margin-right: 3px;
	padding-right: 0;
}

#categorysubtopic div a:link,#categorysubtopic div a:visited {
	color: #008400;
	text-decoration: none;
}

#categorysubtopic div a:hover {
	color: #008400;
	text-decoration: underline;
}

.wlsrvCSS {
	color: gray;
	padding: 0 20px 0 10px;
	vertical-align: top;
}

#relatedsearch ul {
	list-style: none outside none;
	margin-bottom: 20px;
	padding: 0;
}

#relatedsearch ul li {
	list-style: none outside none;
	margin-bottom: 0;
	padding: 0;
}

.wvrootCSS {
	font-size: 12px;
	height: auto;
	width: auto;
}

.wvtbCSS {
	table-layout: fixed;
	width: 100%;
}

.wvlpCSS {
	padding-right: 20px;
	vertical-align: top;
}

.wpcprootCSS {
	padding: 0 0 15px;
}

.wpcpsCSS {
	font-family: arial, san serif;
	font-size: 20px;
	font-weight: bold;
	margin: 5px 5px 3px;
	padding-bottom: 0;
	background-color: #E5F3FF;
	border-bottom: 1px solid #6CB1F1;
}

.wpcplCSS {
	color: #008400;
	font-size: 12px;
	font-weight: normal;
	white-space: nowrap;
}

.wpcpiiCSS {
	padding: 0 0 10px 4px;
}

.wpcppbCSS {
	font-size: 12px;
	margin-right: 5px;
	vertical-align: baseline;
}

.wmfCSS {
	margin-top: 5px;
}

.wpcpscCSS {
	font-size: 12px;
	margin: 0 5px;
}

.wpcppmcCSS {
	margin: 0 0 0 70px;
	padding-top: 2px;
}

.wpcppcCSS {
	margin-left: 4px;
	margin-right: 5px;
}

.wpcpchrCSS {
	line-height: 1.3;
	padding: 3px 2px 0;
}

.wrpthbCSS {
	float: left;
	font-weight: normal;
	height: 50px;
	margin: 10px 25px 0 5px;
	text-align: center;
	z-index: 10;
}

.wpcpdCSS {
	font-family: arial, san serif;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0px 5px 3px 4px;
	overflow-x: auto;
	overflow-y: visible;
	padding-bottom: 10px;
}

.wpcpdCSSans {
	font-family: arial, san serif;
	font-size: 14px;
	line-height: 1.5em;
	margin: 5px 5px 3px 4px;
	overflow-x: auto;
	overflow-y: visible;
	padding-bottom: 10px;
}

.wvrpCSS {
	height: 460px;
	vertical-align: top;
	z-index: 10;
}

.wpcpfCSS {
	margin-bottom: 4px;
	margin-left: 4px;
	padding: 3px 0;
}

.wphtCSS {
	font-size: 14px;
	font-weight: bold;
	height: 100%;
	vertical-align: middle;
}

.login-panel {
	background-color: #F0F5F8;
	border: 1px solid #B8D4E8;
	margin-bottom: 20px;
	padding: 20px 15px;
	position: relative;
}

.login-form p.top {
	margin-top: 0;
}

.login-form p {
	line-height: 20px;
	margin: 10px 0;
}

.login-form .input-text {
	background-color: #FFFFFF;
	background-position: 0 -170px;
	padding: 6px 3px;
	width: 160px;
}

.login-form label {
	color: #333333;
	float: left;
	font-size: 14px;
	font-weight: normal;
	line-height: 27px;
	margin-right: 3px;
}

.input-button,.input-submit {
	background-color: #005EAC;
	border-color: #D8DFEA #0E1F5B #0E1F5B #D8DFEA;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
	text-align: center;
	width: 92px;
}

.wpr2trowCSS {
	height: 40px;
}

.login-form p.bottom .getpassword {
	display: block;
	margin-top: 5px;
}

.login .main-column {
	float: right;
	width: 658px;
}

.shadow {
	border: 1px solid #B8D4E8;
	padding: 20px;
}

#reg_headlogo {
	background-color: #FFFFFF;
	background-position: -168px -207px;
	background-repeat: no-repeat;
	height: 83px;
	margin-bottom: 20px;
}

#reg_headlogo p#headtext {
	float: right;
	height: 81px;
	margin: 0;
	padding: 0;
	width: 250px;
}

#reg_headlogo p#headtext span {
	color: #333333;
	display: block;
	font-size: 16px;
	line-height: 20px;
	margin: 15px 0 auto 34px;
}

.form_row label {
	color: #333333;
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 10px;
	text-align: right;
	width: 180px;
}

.form_row .inputtext {
	float: left;
	font-size: 15px;
	height: 16px;
	line-height: 18px;
	width: 212px;
}

.form_row .inputchoose {
	float: left;
	font-size: 15px;
	height: 28px;
	line-height: 18px;
	width: 212px;
}

.form_row .inputmchoose {
	float: left;
	font-size: 15px;
	height: 110px;
	line-height: 18px;
	width: 212px;
}


.form_row .inputfile {
	float: left;
	font-size: 15px;
	height: 28px;
	line-height: 18px;
	width: 272px;
}

.form_row .select {
	float: left;
	font-size: 15px;
	height: 112px;
	line-height: 18px;
	width: 272px;
}

.inputtext,textarea {
	border: 1px solid #BDC7D8;
	padding: 5px 4px;
}

.inputchoose,textarea {
	border: 1px solid #BDC7D8;
	padding: 5px 4px;
}

.inputmchoose,textarea {
	border: 1px solid #BDC7D8;
	padding: 5px 4px;
}

.form_row label.labelRadio {
	font-weight: normal;
	text-align: left !important;
	width: 50px;
}

#p_birthday .input_wrap label {
	font-size: 12px;
	font-weight: normal;
	width: auto;
}

.evaluation_con,.disabled_evaluation {
	border-style: solid;
	border-width: 2px;
	float: left;
	height: 24px;
	margin-right: 11px;
}

.evaluation_con,.disabled_evaluation {
	border-color: #FFFFFF;
}

.evaluation_wrap {
	overflow: hidden;
	padding: 0px;
	height: 50px;
}

.evaluation_wrap ul {
	background: url("../Images/bg_questionpage.gif") repeat-x scroll 0 0
		transparent;
	border-style: solid;
	border-width: 1px;
	float: left;
	height: 22px;
	overflow: hidden;
}

.evaluation_wrap ul {
	border-color: #C4C4C4;
	padding: 0px;
	margin-top: 10px;
}

.evaluation_wrap li {
	background: url("../Images/bg_questionpage.gif") no-repeat scroll 0 1px
		transparent;
	float: left;
	margin-left: 0px;
	padding: 0 3px;
	text-align: center;
	white-space: nowrap;
	list-style: none outside none;
	font-size: 12px;
}

.evaluation_con a:link,.evaluation_con a:visited {
	color: #000000;
	display: block;
	height: 18px;
	padding: 0 10px 0 0;
	text-decoration: none;
}

.evaluation_wrap a {
	min-width: 44px;
}

.evaluation_con a:link span,.evaluation_con a:visited span {
	color: #666666;
	text-decoration: none;
}

.evaluation_wrap span {
	padding-left: 0px;
}

.question_list_index li {
	height: 20px;;
	list-style: none;
	padding: 0;
	border-bottom-color: #CCCCCC;
}

.list_column1_index {
	float: left;
}

.question_list li {
	height: 100px;;
	list-style: none;
	padding: 0;
	border-bottom-color: #CCCCCC;
}

.question_list li:hover {
	background-color: #FFFFFF;
}

.question_list ul {
	padding-left: 0;
}

.question_list {
	background-color: white;
}

.expert_list li {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	height: 60px;;
	line-height: 60px;
	list-style: none;
	padding: 0;
	border-bottom-color: #CCCCCC;
}

.expert_list li:hover {
	background-color: #E5F3FF;
}

.expert_list ul {
	padding-left: 0;
}

.expert_list {
	background-color: white;
	margin-top: -15px;
}

.list_column1 {
	float: left;
	width: 70%;
}

.list_columnx {
	float: left;
	text-align: center;
	width: 10%;
	font-size: 12px;
	color: #666666;
}

.popupdiv {
	display: none;
	position: absolute;
	margin-left: -50px;
	margin-top: -30px;
	border: 1px solid #3366FF;
	background-color: white;
}

.listbroadcast {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.listbroadcast li {
	margin-bottom: 10px;
	color: #0033CC;
}

.broadcastspan {
	margin-left: 20px;;
	color: #666666;
}

.editor_controls {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background: none repeat scroll 0 0 #D5E7F6;
	border: 1px solid #9FC8E2;
	padding: 0;
	height: 25px;
}

.questioninputBorder {
	-moz-border-radius: 3px;
	padding: 2px;
	border: 2px solid #979493;
}

.main_controls {
	float: left;
	list-style: none outside none;
}

.main_controls li {
	float: left;
	padding: 0 5px;
}

.small_blue_button_v2:hover { //
	background-position: -207px -150px;
}

.small_blue_button_v2 {
	background-color: #D5E7F6;
	text-decoration: none;
	height: 25px;
	width: 68px;
	font-weight: bold;
	color: #1F80B7;
}

/*gk_math_zhenti*/
.filterPanel {
	width: 75px;
}

#FilterSearchPanel {
	background-color: #FFF7DB;
	margin: 5px 0 10px 10px;
	padding: 0px;
	border: 1px solid #FFC300;
}

.feed-loading {
	background-color:#E5F3FF;
	border:2px solid #6B90DA;
	font-size:14px;
	margin-bottom:10px;
	padding:10px;
	text-align:center;
	width:200px;
	cursor:pointer;
	
}

.paperListEM{
	font-size:13px;
	font-weight:bold;
	color:#CC0033;
}

.formula_view
{
	border-color: #000000;
	font-family: arial, sans-serif;
	color: black;
	font-size: large;
	font-weight: normal;
	background-color: #FFCF40;
	font-style: normal;
}

.highlight {
 	background: yellow;
}	

.treenode_qt
{
	text-decoration: none;
	color: #000000;
	font-size: 12px;
}

.message_success
{
	color: #0000FF;
}

.message_error
{
	color: #FF0000;
}