<!-- template t_formula_view.html -->
	<script type="text/javascript">
	/*This is a test*/

	function display_formula() {	  
	  //alert(document.getElementById("topic").value);
	  var str = "$$" + document.getElementById("query").value + "$$";
	  var outnode = document.getElementById("outputNode");
	  var n = outnode.childNodes.length;
	  for (var i=0; i<n; i++)
		outnode.removeChild(outnode.firstChild);
	  outnode.appendChild(document.createTextNode(str));
	  //AMprocessNode(outnode);
	  MathJax.Hub.Queue(["Typeset",MathJax.Hub,outnode]);
	  $("#outputMathML").val($("#outputNode").html());
	  
	  if (document.getElementById("query").value == "" ) {	  
	    document.getElementById("outputNode").style.display = "none";
	  }
	  else
	  {
	    document.getElementById("outputNode").style.display = "";
	  }
	}
	</script>
	<script type="text/javascript">
	    function funcbuttonclick(id){
		    switch (id){
			    case "x/y":{
				    document.getElementById('query').value += "\\frac{x}{y}";
				    break;
				    };
			    case "e^x":{
				    document.getElementById('query').value += "e^x";
				    break;
				    };
    		
			    case "xpower":{
				    document.getElementById('query').value += "x^2";
				    break;
				    };
			    case "root3":{
				    document.getElementById('query').value += "\\sqrt[3]{x}";
				    break;
				    };
			    case "xmsub":{
				    document.getElementById('query').value += "{x}_{2}";
				    break;
				    };
			    case "sum":{
				    document.getElementById('query').value += "\\sum_{i=0}^{n} {a}_{n}";
				    break;
				    };
			    case "sqrt":{
				    document.getElementById('query').value += "\\sqrt{x}";
				    break;
				    };
			    case "sin":{
				    document.getElementById('query').value += "\\sin x";
				    break;
				    };
			    case "cos":{
				    document.getElementById('query').value += "\\cos x";
				    break;
				    };
			    case "tan":{
				    document.getElementById('query').value += "\\tan x";
				    break;
				    };
			    case "cot":{
				    document.getElementById('query').value += "\\cot x";
				    break;
				    };
			    case "limit":{
				    document.getElementById('query').value += "\\lim_(n \\to \\infty)";
				    break;
				    };
			    case "vecab":{
				    document.getElementById('query').value += "\\overrightarrow(AB)";
				    break;
				    };
			    case "int":{
				    document.getElementById('query').value += "\int_{-1}^{1} xdx";
				    break;
				    };
			    case "logx":{
				    document.getElementById('query').value += "\log x";
				    break;
				    };
			    case "lnx":{
				    document.getElementById('query').value += "\ln x";
				    break;
				    };
		    }
		    display_formula();
	    }
    </script>
    <table >
        <tr> 
            <td colspan=3>
                <div id='formulatoolbar'>
		            <a href="javascript:funcbuttonclick('x/y')" class='formulaButtons'>x/y</a>
		            
				    <a href="javascript:funcbuttonclick('e^x')" class='formulaButtons'>e<sup>x</sup></a>
				    <a href="javascript:funcbuttonclick('xpower')" class='formulaButtons'>x<sup>2</sup></a>

				    <a href="javascript:funcbuttonclick('xmsub')" class='formulaButtons'>x<sub>2</sub></a>
				    <a href="javascript:funcbuttonclick('sqrt')" class='formulaButtons'>&#8730;x</a>
				    <a href="javascript:funcbuttonclick('root3')" class='formulaButtons'><sup>3</sup>&#8730;x</a>
				    <a href="javascript:funcbuttonclick('int')" class='formulaButtons'>&#8747;<sub>-1</sub><sup>1</sup>xdx</a>
				    <a href="javascript:funcbuttonclick('sum')" class='formulaButtons'>&#8721;<sub>i=0</sub><sup>n</sup>a_n</a>

    		
				    <a href="javascript:funcbuttonclick('sin')" class='formulaButtons'>sinx</a>
				    <a href="javascript:funcbuttonclick('cos')" class='formulaButtons'>cosx</a>
				    <a href="javascript:funcbuttonclick('tan')" class='formulaButtons'>tanx</a>
				    <a href="javascript:funcbuttonclick('cot')" class='formulaButtons'>cotx</a>
    				
				    <a href="javascript:funcbuttonclick('vecab')" class='formulaButtons'>&#8407;AB</a>
				    <a href="javascript:funcbuttonclick('limit')" class='formulaButtons'>lim<sub>n->oo</sub></a>

				    <a href="javascript:funcbuttonclick('logx')" class='formulaButtons'>logx</a>
				    <a href="javascript:funcbuttonclick('lnx')" class='formulaButtons'>lnx</a>
	            </div>
	            </td>
        </tr>
        <tr>
            <td width="17"></td>
            <td align="left" width="650px">
                <div id="outputNode" class="formula_view"></div>
	            <input id="outputMathML" name="outputMathML" type="hidden" value=''  />
	        </td>
        </tr>
    </table>
<!-- End template t_formula_view.html -->