<!-- template t_search_content_formula.html -->
<head>
	<!--<script type="text/javascript" src="/static/mathjax-MathJax-24a378e/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		MathJax.Hub.Config({				
			displayAlign: "left",
			tex2jax: {inlineMath: [['$$','$$'],['\\[','\\]']], displayMath:[]} 
		})
	</script>-->
</head>
{% load i18n %}
<div style="margin-left: 10px;">
	<div class="question_list">
		<ul>
			<script type="text/javascript">
				function searchformula(str_query) {
					var str = str_query;
					var ctl_query = document.getElementById("query");
					ctl_query.value = str;
					display_formula();
					document.srch_formula.submit();
				}
								
				function upfold(divid){									
					//var div = document.getElementById('detailedinfo' + divid);
					var div = document.getElementById(divid);
					//alert(div.style.display);
					if (div.style.display == "none")
						div.style.display = "block";
					else 
						div.style.display = "none";
				}
			</script>
			{% if search_results_ct %}
			{% for result in search_results_ct %}
			<li>
				<span class="list_column1" style="width:1300px">
					<table width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td width="1000px" valign="top" class="well well-large">
								<div style="margin-top:10px;">
									<b><a href ="/display_addmath_question/{{result.0}}/?searchtype=formula">Question ID: {{ result.0 }}</a></b>
									<div style="margin-top:5px;">
										<span>
										{{ result.2 }}
										</span>
									</div>
								</div>
								<div style="height:10px;"></div>
							</td>
							<td width="300px" class="well well-large">
								<div style="line-height:200%;margin-top:10px;padding:10px; border: 2px solid #CCCCCC; -moz-border-radius: 5px;font-size: 14px; ">										
									${{ result.3 }}$ &nbsp;&nbsp;<!--<a href="javascript:searchformula(&quot;{{ result.3 }}&quot;)"><img src="/static/content/Images/search.gif" height="16px" style="border:1px solid #ccc" /></a>!-->
								</div>
							</td>
						</tr>
						<tr>
						<td colspan="2">
						<br>
						</tr>
					</table>
				</span>
			</li>
			{% endfor %}
			{%else%}
			{% endif %}
		</ul>
	</div>
</div>
<!-- end template t_search_content_formula.html -->